<h2>Edit {{namePlace}}'s data</h2>
<br />
<div class="container">
  <div class="row">
    <div class="col col-sm-6 col-md-4">
      <div class="card" style="width: 13.75rem;">
        <img src="{{image}}" alt="{{image}}" class="img-thumbnail" width="220" height="220">
        <div class="card-body">
          <h3 class="card-title">{{namePlace}}</h3>
          <p class="card-text">Category: {{nameCategory}}</p>
          <p class="card-text">Direction: {{direction}}</p>
          <p class="card-text">comments: {{comment}}</p>
          <p class="comments">Comentarios: {{usersComments.length}}</p>
        </div>
      </div>
      </div>
      <div class="col col-sm-6 col-md-4 ">
      <form action="/post/{{_id}}/edit/pre" method="get" enctype="multipart/form-data"/>
        <p class="heading">New information:</p>
        <input class="input" type="text" name="namePlace" value="{{namePlace}}" /> <br>
        <br>
        <input class="input" type="text" name="nameCategory" value="{{nameCategory}}" /> <br>
        <br>
        <input class="input" type="text" name="direction" value="{{direction}}" /> <br> 
        <br>
        <input class="input" type="text" name="comment" name="comment" value="{{comment}}" /> <br>
        <br>
        <input class="bttn" type="file" name="image" value="{{image}}" />
        <br>
        <button type="submit" class="bttn">Edit your post!</button>

      </form>
    </div>
  </div>
</div>