<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top bg-dark-subtle">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">MapRecs</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/home/map">Map</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/list">List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/profile">Profile</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{{message}}


<div id="newpost" class="d-flex justify-content-center">
    <form action="/post/new" method="POST" class="form" enctype="multipart/form-data">

        <input class="input" placeholder="Title" type="text" name="namePlace">

        <select class="form-select" style="background-color: whitesmoke; color:slategray; font-size:0.9rem"
            name="nameCategory" id="category">
            <option value="" disabled selected hidden>Choose a category</option>
            {{#each data}}
            <option value="{{this}}">{{this}}</option><br>
            {{/each}}
        </select>

        <input class="input" placeholder="Address" type="text" id="auto-direction" name="direction">


        <input type="hidden" id="latitud" name="latitud">


        <input type="hidden" id="longitud" name="longitud">

        <input class="input" placeholder="Comment" type="text" name="comment">

        <label for="image">Imagen:</label>
        <input type="file" name="image" id="image" />

        <button type="submit" class="bttn">Creat new place!</button>


    </form>
</div>



{{!-- <form action="/post/new" method="POST" enctype="multipart/form-data">
    <label for="namePlace">Title:</label>
    <input type="text" name="namePlace">

    <label for="category">Category:</label>
    <select name="nameCategory" id="category">
        {{#each data}}
        <option value="{{this}}">{{this}}</option><br>
        {{/each}}
    </select>

    <label for="auto-direction">Address:</label>
    <input type="text" id="auto-direction" name="direction">


    <input type="hidden" id="latitud" name="latitud">


    <input type="hidden" id="longitud" name="longitud">

    <label for="comment">Comment:</label>
    <input type="text" name="comment">

    <label for="image">Imagen:</label>
    <input type="file" name="image" id="image" />

    <button>Creat new place!</button>


</form> --}}





<script>
    let autocomplete
    function initAutocomplete() {
        autocomplete = new google.maps.places.Autocomplete(
            document.getElementById('auto-direction'),
            {
                types: [],
                componentRestrictions: { 'country': ['ES'] },
                fields: ["formatted_address", "geometry", "name"]
            })

        /*   let place = autocomplete.getPlace();

           let lat = place.geometry.location.lat(),
           let lng = place.geometry.location.lng(); */


        autocomplete.addListener('place_changed', onPlaceChanged)
        function onPlaceChanged() {
            let place = autocomplete.getPlace()

            if (!place.geometry) {
                document.getElementById('auto-direction').placeholder = 'Enter a place'
            }
            else {
                document.getElementById("latitud").value = place.geometry.location.lat()
                document.getElementById("longitud").value = place.geometry.location.lng()
            }
        }
    }
</script>

<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCly7nIyBiSArEP0NzrfqfOBqByTCDEh4g&libraries=places&callback=initAutocomplete"> async defer
    </script>