

<div class="container">
  <div class="row">
    <div class="col-md-5 text-center">
      <div class="card border bg-light">
        <img id="post-photo" src="{{post.image}}" alt="{{post.namePlace}}" class="img-thumbnail">
      </div>
    <div class="col-md-5">        
        <div class="card-body">
          <br>
  <h2 style="text-align: center">{{post.namePlace}}</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <br>
  <p style="margin-left: 100px;">{{post.comment}}</p>
  <br>
 <p style="margin-left: 100px;"> Created by: {{post.author.username}}</p>
</div>

<br>
{{#unless post.usersComments}}
  <p style="margin-left: 100px;">No comments yet!</p>
{{/unless}}

{{#each post.usersComments}}
  <p style="margin-left: 100px;"><b>{{this.title}}:</b> {{this.comment}}</p>
{{/each}}

<h3 style="margin-left: 100px;">Add comment</h3>

<form action="/post/{{post._id}}" method="post">
  <label style="margin-left: 100px;"> Current User: {{user}}</label><br>
  <br>
  <input style="margin-left: 100px;" type="text" name="title" placeholder="Write a title..">
  <input type="text" name="comment" placeholder="Write you comment here..."/>

  <button type="submit">Comment</button>
</form>

<br>

<a style="margin-left: 100px;"href="{{post.author._id}}/post">See all of {{post.author.username}}'s posts </a>