{{!-- <main class="container text-center"> --}}
    {{#if message}}
    <p>{{message}}</p>
    {{/if}}
    <div class="container">
        <div class="row">
            {{#each result}}
            <div class="col col-sm-6 col-md-4">
                <div>
                    <div class="card" style="width: 13.75rem;">
                        <img src="{{image}}" alt="{{image}}" class="img-thumbnail" width="220" height="220">
                        <div class="card-body">
                            <h3 class="card-title">{{namePlace}}</h3>
                            <p class="card-text">{{nameCategory}}</p>
                            <p class="card-text">{{direction}}</p>
                            <p class="card-text">{{comment}}</p>
                            <p class="comments" class="card-text">Comentarios: {{usersComments.length}}</p>
                        </div>
                        <div class="card-body">
                            <a href="../post/{{_id}}" class="link-dark">Agregar comentario</a>
                            <a href="../post/{{_id}}/edit" class="link-info"> editar</a>
                        </div>
                    </div>
                </div>
                {{#if userRol}}
                <form action="/post/{{_id}}/delete" method="post">
                    <button type="submit" class="btn btn-danger">Delete: {{namePlace}}</button>
                </form>
                {{/if}}
            </div>
            {{/each}}
        </div>
    </div>

    <aside>
        <label for="category">Pick a category:</label><br />
        <select name="category" id="category" multiple>
            {{#each categoryArr}}
            <option value="{{this}}">{{this}}</option><br />
            {{/each}}
        </select>
    </aside>

    {{!--
</main> --}}