<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top bg-dark-subtle">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">MapRecs</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/home/map">Map</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/list">List</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Categories
                    </a>
                    <ul class="dropdown-menu">
                        {{#each categoryArr}}
                        <li>
                            <form action="/home/list" method="POST">
                                <button class="dropdown-item" type="submit" name="nameCategory"
                                    value="{{this}}">{{this}}</button>
                            </form>
                        </li>
                        {{/each}}
                    </ul>
                    {{!--
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Categories
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Restaurant</a></li>
                        <li><a class="dropdown-item" href="#">Park</a></li>
                        <li><a class="dropdown-item" href="#">Disco</a></li>
                        <li><a class="dropdown-item" href="#">Beach</a></li>
                        <li><a class="dropdown-item" href="#">Night Life</a></li>
                        <li><a class="dropdown-item" href="#">Pharmacy</a></li>
                        <li><a class="dropdown-item" href="#">Sports</a></li>
                        <li><a class="dropdown-item" href="#">Others</a></li>
                    </ul>
                </li> --}}
            </ul>
        </div>
    </div>
</nav>

{{#if message}}
<p>{{message}}</p>
{{/if}}



<div class="container">
    <div class="row">
        {{#each result}}
        <div class="col col-sm-6 col-lg-4 col-xl-3">
            <div class="card" style="width: 13.75rem; height: 35rem; margin: 3rem auto">
                <img src="{{image}}" alt="{{image}}" class="img-circle" width="220" height="220">
                <div class="card-body">
                    <h3 class="card-title">{{namePlace}}</h3>
                    <p id="italic" class="card-text">{{nameCategory}}</p>
                    <p class="card-text">{{direction}}</p>
                    <p class="card-text">{{comment}}</p>
                    <p class="comments" class="card-text">Comentarios: {{usersComments.length}}</p>
                </div>
                <div class="card-body">
                    <a href="../post/{{_id}}"><button class="bttn">Open post</button></a>
                    <a href="../post/{{_id}}/edit"><button class="bttn">Edit post</button></a>
                    {{#if userRol}}
                    <form action="/post/{{_id}}/delete" method="post">
                        <button style="margin-left: 40px" type="submit" class="btn btn-danger">Delete post</button>
                    </form>
                    {{/if}}
                </div>
            </div>

        </div>
        {{/each}}
    </div>
</div>