<h1>Profile</h1>
<div class="profile">
  {{!-- <img src="{{profilePictureUrl}}" alt="{{username}}" class="profile-picture" /> --}}
  <h2>{{username}}</p>
  <p>{{city}}</p>
</div>
<label for="interests">My interests</label>
<input type="text" id="interests" name="interests" />
<h2>My Pins</h2>
{{#each pinPersonal}}
<p>{{pinPersonal}}</p>
{{/each}}
<h2>My Favorites</h2>
{{#each pinFav}}
<p>{{pinFav}}</p>
{{/each}}

<button onclick="location.href='/post/postUser'" type="button" class="btn btn-primary">
  Create post</button>